* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.topBarContainer {
  width: 100vw;
  background: #1d1b1b;
  color: #fff;
  min-height: 80px;
  position: fixed;
  z-index: 1;
}

.topBarLinks {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 10px;
}

.topBarLinks .icon,
.search-logo {
  width: 18px;
  height: 18px;
}

.topBarLinks p {
  margin: 0px 5px;
}

.topBarLinks .dropDown {
  width: 10px;
  height: 10px;
}

.topBarLinkContent {
  display: flex;
  align-items: center;
  min-height: inherit;
  justify-content: space-between;
}

.topBarLeftContent {
  display: flex;
  align-items: center;
  width: 30%;
  justify-content: space-between;
}

.topBarRightContent {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}

.search-sm {
  padding: 10px;
  border-radius: 10px;
}

.search-sm:focus {
  outline: none;
}

.search-logo {
  transform: translate(-30px, 4.5px);
}

.rightIcon {
  width: 30px;
  height: 30px;
  text-align: center;
}

.circle {
  border-radius: 100%;
  background: #fff;
}

.message-img {
  width: 25px;
  height: 25px;
  transform: translateY(3px);
}

.circle-img-logo {
  position: absolute;
  top: 20px;
  transform: translate(-7px, 3px);
}

.box,
.profile {
  display: flex;
  align-items: center;
}

.box-img,
.profile-img {
  width: 25px;
  height: 25px;
}

.dropdown-logo {
  width: 10px;
  height: 10px;
  margin-left: 7px;
}

.blackBgContainer {
  background: #000;
  width: 350px;
  position: fixed;
  top: 80px;
  z-index: 1;
  overflow-y: scroll;
  height: 100vh;
  transition: 0.3s;
}

.topBtnLink {
  margin: 40px auto 10px auto;
  width: 70%;
  position: relative;
  background: #fff;
  border-radius: 10px;
}

.btn {
  padding: 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.topBarBtn {
  width: 50%;
}

.active .topBarBtn {
  background: #a14807;
  color: #fff;
  border-radius: 10px;
}

.categoryContent {
  color: #fff;
  width: 75%;
  margin: 0px auto 30px auto;
  padding: 10px;
  height: 650px;
  overflow-y: scroll;
}

.categoryContent li {
  margin: 5px 0px;
}

.category-logo,
.inner-category-logo-one,
.inner-category-logo-two {
  width: 15px;
  height: 15px;
}

.category-logo,
.categoryInnerContent {
  margin-top: 10px;
}

.categoryInnerContent {
  width: 100%;
}

.cContent {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 12px 0px;
}

.inner-category-logo-one {
  margin-left: 5px;
}

.inner-category-logo-two {
  margin-right: 5px;
}

.percentagesBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 7px;
}

.bar {
  width: 25%;
  height: 3px;
  background: #a14807;
}

.homeContainer {
  display: flex;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.searchSection,
.mapSection,
.mapTwoSection {
  width: 100%;
  position: relative;
  top: 80px;
  left: 350px;
  height: 100vh;
  background: #e5e5e5;
  padding-bottom: 20px;
}

.searchRequestBar {
  width: 50%;
  margin-left: 12.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  border-radius: 7px;
  border: 1px solid rgb(182, 182, 182);
  background: #fff;
  box-shadow: 2px 2px 7px 3px rgba(0, 0, 0, 0.06);
}

.searchRequestBar input {
  width: 100%;
  padding: 15px;
  border: none;
}

.searchBtn {
  background: #a14807;
  padding: 15px;
  border: none;
  border-radius: 7px;
}

.as {
  margin-left: 12.5%;
  color: #a14807;
  padding-top: 20px;
}

.sortContent {
  margin-left: 12.5%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.sortContent h4,
.searchDisplayTopBar h5 {
  color: #a14807;
}

.sortContent button {
  padding: 5px;
  background: none;
  margin-left: 10px;
  border: 0.8px solid #000000;
  border-radius: 5px;
}

.searchContentContainer {
  height: 100vh;
  overflow: scroll;
  padding-bottom: 100px;
}

.searchDisplayContent {
  margin-left: 12.5%;
  width: 50%;
  background: #fff;
  padding: 15px;
  min-height: 100px;
  border: 1px solid #eee;
}

.searchDisplayContent article,
.searchDisplayHourText p {
  margin: 15px 0px;
}

.searchDisplayTopBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchDisplayTopBar h5 {
  font-size: 1rem;
}

.searchDisplayBtns button {
  padding: 7px;
  background: rgba(196, 196, 196, 0.3);
  border: none;
  border-radius: 8px;
  margin-left: 5px;
}

.headerLogo {
  border: 1px solid rgb(224, 224, 224);
  width: 25px;
  height: 25px;
  border-radius: 100%;
  display: inline-block;
  text-align: center;
  margin-left: 5px;
}

.headerLogo img {
  transform: translateY(3px);
}

.payment p {
  margin-left: 5px;
}

.paymentMethod,
.payment,
.price-country,
.price-country aside {
  display: flex;
  align-items: center;
}

.paymentMethod article,
.paymentMethod figure,
.price-country p:nth-child(1) {
  margin-right: 20px;
}

.mapSection {
  background: url('./map.png') no-repeat center center/cover;
  min-height: 650px;
}

.mapTwoSection {
  background: url('./map2.png') no-repeat center center/cover;
  min-height: 650px;
}

.h-menu-logo {
  position: relative;
  top: 35px;
  left: 20px;
  border: 1px solid #fff;
}

.takeOutForm,
.btnGroup {
  display: flex;
  width: 90%;
  margin: auto;
}

.takeOut {
  width: 100%;
}

.takeOut::placeholder {
  opacity: 1;
  padding-left: 25px;
  transform: translateY(1px);
}

.textOutIcons {
  background: #a14807;
  width: fit-content;
  display: flex;
  padding: 10px;
  justify-content: space-between;
}

.textOutIcons p {
  border-left: 1px solid #fff;
  margin: 0px 10px;
}

.btnGroup {
  align-items: center;
  margin-top: 20px;
}

.btnGroup button:nth-child(2) {
  margin: 0px 10px;
}

.btnContents {
  background: none;
  padding: 10px;
  border: 0.9px solid #c4c4c4;
  border-radius: 50px;
  color: #c4c4c4;
  display: flex;
  align-items: center;
}

.btnContents p {
  color: #c4c4c4;
}

.btnContents img {
  margin: 0px 5px;
}

.restaurantsContainer {
  color: #fff;
  overflow-y: scroll;
  height: 950px;
  padding-bottom: 50px;
}

.resLeftContent a {
  color: #fff;
}

.restaurantContent,
.ratings,
.optionsList {
  display: flex;
}

.restaurantContent {
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  min-height: 150px;
  border-top: 1px solid #c4c4c4;
  margin-top: 10px;
}

.restaurantContent p {
  color: rgba(255, 255, 255, 0.8);
}

.resLeftContent h4 {
  font-size: 0.95rem;
}

.optionsList {
  position: absolute;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  font-size: 0.9rem;
}

.ratings,
.addressHours p:nth-child(2) {
  margin: 7px 0px;
}

.imgBgContainer {
  min-height: 150px;
}

.firstImg,
.secondImg,
.thirdImg,
.fourthImg {
  background: url('./food-11.png') no-repeat center center/cover;
}

.eachRestaurantNameContainer {
  width: 100%;
  border-bottom: 1px solid #c4c4c4;
}

.eachRestaurantName {
  color: #fff;
  width: 80%;
  margin: auto;
  padding: 10px;
}

.restaurantRating {
  display: flex;
  align-items: center;
}

.restaurantRating p:nth-child(2) {
  margin-left: 7px;
}

.vendorIconsSection {
  width: 100%;
  height: 50px;
  margin: 15px auto 0px auto;
  display: flex;
  color: #fff;
}

.vendorBg {
  border: 1px solid #a14807;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vendorBg img {
  width: 12.5px;
  height: 12.5px;
}

.vendorIcon {
  width: 100%;
  min-height: 50px;
  text-align: center;
}

.vendorIcon p {
  font-size: 0.8rem;
  text-align: center;
  color: #fff;
  margin-top: 7px;
}

.eachOption p {
  color: #fff;
  margin-right: 8px;
  font-size: 0.895rem;
}

.eachOption,
.optionsIndex,
.optionSection {
  display: flex;
  align-items: center;
}

.optionSection {
  justify-content: space-between;
  margin-top: 25px;
  border-top: 1px solid #c4c4c4;
  padding: 10px;
}

.eachOption img {
  margin-right: 4px;
}

.arrow-side {
  transform: translate(-18px, 1px);
}

.moreOptionsContainer {
  width: 100%;
  height: 550px;
  border-top: 1px solid #c4c4c4;
}

small {
  color: #fff;
}

.moreOptionsContainer {
  padding: 10px;
}

.addOption {
  margin: 20px 0px;
  padding: 5px;
}

.addOption p {
  margin-left: 5px;
}

.suggestions {
  color: #fff;
  display: flex;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: #a14807;
  border-radius: 30px;
  padding: 7px;
}

.suggestions img {
  width: 12px;
  height: 12px;
  margin-right: 10px;
}

.error {
  padding-top: 100px;
  text-align: center;
}

.error h1,
.backHome {
  position: relative;
  top: 50px;
}

.error h1 {
  top: 30px;
  font-size: 2.3rem;
}

.backHome {
  color: #fff;
  background: #a14807;
  padding: 10px 20px;
  border-radius: 30px;
}

.close-logo {
  position: absolute;
  top: 5px;
  right: 35px;
}

.hamburger-icon {
  position: absolute;
  top: 22px;
  left: 20px;
  width: 35px;
  height: 35px;
}

.close-logo,
.hamburger-icon {
  display: none;
}

@media (max-width: 1050px) {
  .topBarRightContent {
    width: 60%;
  }

  .searchRequestBar,
  .as,
  .sortContent,
  .searchDisplayContent {
    margin-left: 7%;
  }
}

@media (max-width: 970px) {
  .searchRequestBar,
  .as,
  .sortContent,
  .searchDisplayContent {
    width: 55%;
    margin-left: 3%;
  }
}

@media (max-width: 885px) {
  .topBarContainer {
    min-height: 100px;
  }

  .closeMenu .blackBgContainer {
    width: 0%;
    overflow: hidden;
  }

  .circle-img-logo {
    top: 52px;
  }

  .h-menu-logo {
    left: 47px;
  }

  .takeOut::placeholder {
    padding-left: 40px;
  }

  .blackBgContainer,
  .searchContentContainer {
    width: 100vw;
  }

  .topBtnLink {
    width: 50%;
    margin: 50px auto 30px auto;
  }

  .blackBgContainer,
  .searchSection,
  .mapSection,
  .mapTwoSection {
    top: 100px;
    left: 0px;
  }

  .searchRequestBar,
  .as,
  .sortContent,
  .searchDisplayContent {
    width: 90%;
    margin-left: 5%;
  }

  .topBarLinkContent {
    flex-direction: column;
  }

  .topBarLeftContent,
  .topBarRightContent {
    width: 80%;
    margin-bottom: 10px;
  }

  .searchContent {
    width: 100%;
    padding-bottom: 20px;
  }

  .close-logo,
  .hamburger-icon {
    display: block;
  }
}

@media (max-width: 768px) {
  .topBarLeftContent,
  .headerLogoImages,
  .rightIcon {
    display: none;
  }

  .topBarRightContent form {
    width: 100%;
    text-align: center;
    margin: 22px 0px 0px 55px;
  }

  .topBarRightContent form input {
    width: 90%;
    margin: auto;
  }
}

@media (max-width: 550px) {
  .searchDisplayBtns,
  .paymentMethod {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .searchDisplayBtns button {
    margin-top: 10px;
  }

  .h-menu-logo {
    left: 35px;
  }

  .takeOut::placeholder {
    padding-left: 30px;
  }
}

@media (max-width: 400px) {
  .topBarLeftContent {
    flex-direction: column;
  }

  .topBarRightContent form input {
    width: 100%;
    margin-left: 10px;
  }

  .searchSection,
  .mapSection,
  .mapTwoSection {
    top: 200px;
    left: 0px;
  }
  .searchDisplayBtns,
  .paymentMethod {
    display: grid;
    grid-template-columns: 1fr;
  }

  .paymentMethod {
    place-items: center;
  }

  .searchContent {
    padding-bottom: 130px;
  }

  .h-menu-logo {
    left: 30px;
  }

  .takeOut::placeholder {
    padding-left: 40px;
  }
}
